.navbar_links {
    position: fixed;
    top: 1vh;
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 60%;
    padding: 1rem 3rem;
    border-radius: .8rem;
    text-align: center;
    backdrop-filter: blur(.4rem);
    background-color: #ffffff1c;
    z-index: 2;

    & a {
        font-weight: 600;
        text-decoration: none;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        line-clamp: 1;
    }
}

.nav_btn_theme {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5%;
    top: 20%;
    border-radius: 50%;
    height: 36px;
    width: 37px;
    border: 1px solid;
}

.hd_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.hd_presentation {
    text-align: center;

    & h1 {
        font-size: 2.8rem;
    }

    & h1:first-child {
        font-weight: 600;
    }

    & span {
        font-weight: 600;
    }
}

.hd_links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-block: .5% 2%;
}

.hd_btns {
    min-width: 130px;
    padding: .7% 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    transition: background-color 0.5s ease;
}

@media (max-width: 768px) {
    .navbar_links {
        width: 90%;
    }

    .nav_btn_theme {
        right: 1%;
        border: none;
        height: 29px;
        width: 30px;
    }
}